{% extends 'base.html' %}
{% load static %}

{% block title %}{{ task.name }}{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'table.css' %}">
    <link rel="stylesheet" href="{% static 'editor/editor.css' %}">
    <link rel="stylesheet" href="{% static 'editor/style.css' %}">
    <link rel="stylesheet" href="{% static 'editor/header.css' %}">
    <link rel="stylesheet" href="{% static 'editor/project/style.css' %}">
    <link rel="stylesheet" href="{% static 'editor/project/task_page.css' %}">
{% endblock %}

{% block content %}

    {% include 'editor/header.html' %}

    <div class="content">

        <p class="path"><a href="/editor/tests/{{ test.id }}" class="active-link">{{ test.project_name }}</a> > {{ task.name }}</p>

        <section class="preview-project">
            <p class="task-number">Задание №{{ task.number }}</p>
            <p class="task-name">{{ task.title }}</p>
            <div class="button button-change-info" data-url="/editor/tests/{{ test.id }}/tasks/{{ task.id }}/edit"></div>
        </section>

        <section class="project-tasks">
            <header>
                <h2>Упражнения</h2>
            </header>
            <main>
                {{ tasks_table }}
            </main>
            <div class="button button-secondary button-create-task">
                Создать упражнение
            </div>
        </section>

    </div>

    {% include 'footer.html' %}

{% endblock %}

{% block js_scripts %}

{% endblock %}