{% extends 'editor/elements/base_exercise.html' %}

{% block element_type %}chronology{% endblock %}

{% block element_class %}
    chronology-exercise
{% endblock %}

{% block content %}
    {% for variant in variants %}
        {{ variant.content }}
    {% endfor %}
    {% if not variants|length %}
        <p class="description">Пока здесь нет ни одного элемента списка</p>
    {% endif %}
{% endblock %}

{% block buttons_bar %}
    <div class="button hidden">Сохранить изменения</div>
    <div class="button button-secondary-reverse">Добавить новый вариант</div>
{% endblock %}
