/*
    ЭТОТ CSS-ФАЙЛ ДЛЯ ВСЕХ ТИПОВ ЗАДАНИЙ
*/

@media(min-width: 320px) {

    .chronology {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
    }

    .chronology .variant {
        width: 280px;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
        padding: 18px;
        margin: 0;
        font-size: 20px;
    }

    .chronology .hover {
        opacity: 0.8;
    }

    .chronology .empty {
        opacity: 0;
    }

    .borders {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .borders .border {
        height: 112px;
        background: #FFFFFF;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
    }

    .content1 {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        padding: 10px;
    }

    .line1 {
        border: 1px solid #C9C9C9;
    }

    .block{
        width: 80%;
        height: 37px;
        margin: auto;
        background: #FFFFFF;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
    }

    .content2 {
        margin: auto;
        font-weight: 700;
        padding: 10px;
        font-size: 17px;
    }
}

@media(min-width: 768px) {

    .chronology .variant {
        width: 560px;
    }

}