/*
    ЭТОТ CSS-ФАЙЛ ДЛЯ ВСЕХ ТИПОВ ЗАДАНИЙ
*/

@media(min-width: 320px) {

    .chronology {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
    }

    .chronology .variant {
        width: 280px;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
        padding: 18px;
        margin: 0;
        font-size: 20px;
    }

    .chronology .hover {
        opacity: 0.8;
    }

    .chronology .empty {
        opacity: 0;
    }


    .statements{
        margin: 10px 0;
    }

    .statements .variant {
        margin: 0 6px 23px;
    }

    .statements .variant {
        width: 100%;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
        padding: 18px;
        font-size: 20px;
        margin: 0 0 23px;
    }


    .radio{
        margin: 10px 0;
    }

    .radio .variant {
        width: 268px;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
        padding: 18px;
        font-size: 20px;
        margin: 0 0 23px;
    }


    .match {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .match .elements {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 14px;
    }

    .match .element .cell {
        height: 50px;
    }

    .match .element {
        height: 112px;
        background: #FFFFFF;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
    }

    .match .element .content {
        width: calc(100% - 20px);
        margin-top: 0;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        padding: 10px;
    }

    .match .element .line {
        border: 1px solid #C9C9C9;
    }

    .match .variants {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    .match .variant {
        width: 80%;
        background: #FFFFFF;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
    }

    .match .variant {
        width: calc(100% - 20px);
        margin: auto;
        font-weight: 700;
        padding: 10px;
        font-size: 17px;
    }
}

@media(min-width: 768px) {

    .chronology .variant {
        width: 560px;
    }

    .radio .variant {
        width: 560px;
    }

    /*.match .element {*/
    /*    width: 600px;*/
    /*    margin: 0 auto;*/
    /*}*/

    .match .variant {
        width: 484px;
        margin: 0 auto;
    }
}

@media(min-width: 1024px) {

    /*.match {*/
    /*    flex-direction: row;*/
    /*}*/

}

.statements .selected {
    border: 2px solid blue;
}

.radio .selected {
    border: 2px solid blue;
}

