{% block css_styles %}
    <link rel="stylesheet" href="{% static '' %}">
{% endblock %}
{% load static %}
<footer class="foot">
    <div class="box">
        <div class="flex">
            <div class="logo">
                <img src="{% static 'main_page/images/logo.png' %}" alt="">
            </div>
            <div class="descriptionFooter">
                Эта страница является внутренним
                ресурсом ИТ-колледжа ИТхаб-Екатеринбург
                и предназначена для использования
                ИСКЛЮЧИТЕЛЬНО студентами или
                преподавателями.
                Если Вы не являетесь сотрудником
                или учащимся ИТхаб-Екатеринбург,
                или если Вы не получили разрешение
                на доступ от администрации колледжа -
                просим немедленно покинуть этот сайт.
                Просим воздерживаться от
                неправомерного или неправомочного
                доступа.
            </div>
        </div>
        <div class="yearRule">
            <b>2022 г. Все права защищены</b>
        </div>
    </div>
</footer>