{% extends 'base.html' %}
{% load static %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'tasks/tasks.css' %}">
{% endblock %}

{% block precontent %}

    <div class="content">

        <div class="question-list">
            <div class="current-question">
                Задание №{% block number_of_task %}{% endblock %}
            </div>
        <hr color="gray">
        </div>

        <div class="question" id="question">
            <p>{% block question %}{% endblock %}</p>
        </div>

        {% block content %}{% endblock %}

        <button class="accept-button">
            <div class="text">
                Принять ответ
            </div>
        </button>
    </div>

{% endblock %}

{% block pre_js_scripts %}
    <script src="{% static "types/types.js" %}"></script>
    {% block types_scripts %}{% endblock %}
     <script src="{% static "tasks/tasks.js" %}"></script>
    {% block js_scripts %}{% endblock %}
    <script src="{% static "tasks/send.js" %}"></script>
{% endblock %}