
.avatar {
    position: relative;
    width: 256px;
    height: 256px;
    background: url("image_Panov_Georgii.png") no-repeat center;
    background-size: 267px;
    border-radius: 5px;
    margin: 10px auto;
}

.avatar .rating {
    position: absolute;
    padding: 0 10px;
    height: 22px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    /*filter: blur(4px);*/
    border-radius: 5px;
    text-align: center;
    margin: auto;
    right: -10px;
    bottom: 0;
}

.user_name {
    width: 263px;
    font-weight: 700;
    font-size: 25px;
    margin: auto;
}

.registration_when {
    width: 263px;
    height: 84px;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: auto;
}

.label {
    width: 263px;
    height: 30px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    margin: auto auto 31px;
    text-align: center;
}

.border_1 {
    width: 263px;
    height: 343px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: auto auto 28px;
}

.image_icon {
    width: 100%;
    height: 130px;
    background: url("icon_Proreform_Russia.png") no-repeat center 22px;
    background-size: 90px;
}

.index_text_border_1 {
    width: 221px;
    height: 52px;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    margin: auto auto auto 20px;
}

.description_test {
    width: 221px;
    height: 76px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin: 17px auto auto 29px;
}

.hr {
    width: 189px;
    height: 5px;
    background: #2C00DE;
    margin: auto auto 28px 10px;
}

.hr_2 {
    width: 223px;
    height: 5px;
    background: #A6A6A6;
    margin: auto auto 28px 10px;
}