
.avatar {
    position: relative;
    width: 256px;
    height: 256px;
    background: url("image_Panov_Georgii.png") no-repeat center;
    background-size: 267px;
    border-radius: 5px;
    margin: 10px auto;
}

.avatar .rating {
    position: absolute;
    padding: 0 10px;
    height: 22px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    /*filter: blur(4px);*/
    border-radius: 5px;
    text-align: center;
    margin: auto;
    right: -10px;
    bottom: 0;
}

.user_name {
    width: 263px;
    font-weight: 700;
    font-size: 25px;
    margin: auto;
}

.registration_when {
    width: 263px;
    height: 84px;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: auto;
}

.created_tests .label {
    margin-top: 0;
}

.label {
    width: 263px;
    height: 30px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    margin: 40px auto 20px;
    text-align: center;
}

.border_1 {
    width: 263px;
    height: 343px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: auto auto 28px;
}

.image_icon {
    width: 100%;
    height: 130px;
    background: url("icon_Proreform_Russia.png") no-repeat center 22px;
    background-size: 90px;
}

.index_text_border_1 {
    width: 221px;
    height: 52px;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    margin: auto auto auto 20px;
}

.description_test {
    width: 221px;
    height: 76px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin: 17px auto auto 29px;
}

.hr {
    width: 189px;
    height: 5px;
    background: #2C00DE;
    margin: auto auto 28px 10px;
}

.hr_2 {
    width: 223px;
    height: 5px;
    background: #A6A6A6;
    margin: auto auto 28px 10px;
}

.burger_border_js {
    width: 100%;
    height: max-content;
    background: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
    border-radius: 5px;
    position: absolute;
    z-index: 1000;
    margin: 0;
    display: none;
}

.settings {
    width: 100%;
    height: max-content;
    background: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
    border-radius: 5px;
    position: absolute;
    z-index: 1000;
    margin: 0;
    display: none;
}

.block_1 {
    display: block;
}

.index_page_href {
    font-size: 15px;
    padding-left: 14px;
}

.settings p {
    padding-left: 15px;
    font-size: 15px;
}

.name_surname {
    width: 191px;
    height: 21px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.myPage {
    padding-left: 14px;
    font-size: 15px;
}

.hr_burger {
    border: 1px solid #A0A0A0;
}

.hr_account_settings {
    border: 1px solid #A0A0A0;
}

.log_out_account {
    color: #FF0000;
}

a {
    text-decoration: none;
    color: black;
}

.tests-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}


@media(min-width: 700px) {

    .content {
        width: 700px;
        margin: auto;
    }

}

@media (min-width: 768px) {

    .our_icon {
        width: 197px;
        height: 100%;
        background: url("../logos/logo_short.png") no-repeat center 10px;
        background-size: 168px;
    }

    .head {
        justify-content: space-around;
    }

    .user {
        display: grid;
        grid-template-columns: 300px 400px;
        margin: 33px auto;
        width: max-content;
    }

    .user-info {
        margin-top: 10px;
    }

    .user_name, .registration_when {
        width: 100%;
    }

    .card .icon {
        background: url("../users/icon_tests.png") no-repeat center;
        height: 110px;
        width: 110px;
        background-size: 100px;
        margin: 0;
    }

    .card .title {
        width: 100%;
    }

    .card {
        min-height: 182px;
    }

    .progress_beau {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .label {
        margin-left: 25px;
        text-align: left;
    }

    .tests-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1024px) {

    .content {
        width: 900px;
    }

    .tests-list {
        margin-left: -10px;
    }

    .label {
        margin-left: 0;
    }

    .tests-list {
        grid-template-columns: repeat(3, 2fr);
        grid-column-gap: 20px;
    }
}