/*
    ЭТОТ CSS-ФАЙЛ ДЛЯ ВСЕХ ТИПОВ ЗАДАНИЙ
*/

@media(min-width: 320px) {

    .chronology {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
    }

    .chronology .variant {
        width: 280px;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
        background: #FFFFFF;
        padding: 18px;
        margin: 0;
        font-size: 18px;
        font-weight: 600;
    }

    .chronology .hover {
        opacity: 0.8;
    }

    .chronology .empty {
        opacity: 0;
    }


    .statements{
        margin: 10px 0;
    }

    .statements .variant {
        margin: 0 6px 23px;
    }

    .statements .variant {
        width: calc(100% - 40px);
        border: 2px solid #C9C9C9;
        border-radius: 5px;
        padding: 18px;
        font-size: 20px;
        margin: 0 0 23px;
        cursor: pointer;
    }


    .radio{
        margin: 10px 0;
    }

    .radio .variant {
        width: 268px;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
        padding: 18px;
        font-size: 20px;
        margin: 0 0 23px;
        cursor: pointer;
    }


    .match {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .match .elements {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 14px;
    }

    .match .element .cell {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        position: relative;
    }

    .match .element {
        min-height: 112px;
        background: #FFFFFF;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
    }

    .match .element .content {
        width: calc(100% - 20px);
        margin-top: 0;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        padding: 10px;
    }

    .match .element .line {
        border: 1px solid #C9C9C9;
    }

    .match .variants {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        padding: 15px;
        position: relative;
    }

    .match .variants-section {
        min-height: 40px;
        border: 2px solid #C9C9C9;
        /*box-shadow: 0px 0px 22px -2px rgba(34, 60, 80, 0.2);*/
    }

    .match header h2 {
        text-align: center;
        margin-bottom: 5px;
    }

    .match .variant {
        width: 270px;
        padding: 10px;
        margin: auto;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
        background: #FFFFFF;
        font-weight: 700;
        font-size: 17px;
        text-align: center;
        box-shadow: 0px 0px 22px -2px rgba(34, 60, 80, 0.2);
    }

    .answer {

    }

    .answer p {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .answer input {
        padding: 0 10px;
        width: calc(100% - 4px - 20px);
        height: 40px;
        background: #FFFFFF;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
        outline: none;
        font-size: 17px;
    }

    .input p {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .input textarea {
        padding: 5px 10px 0;
        width: calc(100% - 5px - 20px);
        min-height: 40px;
        outline: none;
        color: rgba(0, 0, 0, 0.8);
        font-size: 18px;
        font-weight: 600;
        font-family: 'ProximaNova', sans-serif;
        background: #FFFFFF;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
    }

    .cell .variant {
        box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.2);
    }

    .document h4 {
        font-size: 16.5px;
        margin-bottom: 10px;
    }

    .document .document-content {
        font-style: italic;
        font-size: 18px;
        /*box-shadow: 0 0 10px rgb(0 0 0 / 25%);*/
        border: 1.8px solid rgb(0 0 0 / 10%);
        border-radius: 5px;
    }

    .document .document-content p {
        margin: 0;
        padding: 10px;
    }
}

@media(min-width: 768px) {

    .chronology .variant {
        width: calc(100% - 40px);
    }

    .radio .variant {
        width: 560px;
    }

    /*.match .element {*/
    /*    width: 600px;*/
    /*    margin: 0 auto;*/
    /*}*/

    .match .variant {
        width: 644px;
        margin: 0 auto;
    }

    .document h4 {
        font-size: 18px;
        margin-top: 0;
    }
}

@media(min-width: 1024px) {

    /*.match {*/
    /*    flex-direction: row;*/
    /*}*/

    .match .variant {
        width: 839px;
    }

}

.chronology .selected {
    z-index: 5;
}

.chronology .hover {
    box-shadow: 0px 0px 2px 6px rgba(25, 5, 143, 0.33);
}

.match .selected {
    z-index: 5;
}

.match .hover {
    box-shadow: 0px 0px 2px 6px rgba(25, 5, 143, 0.33);
}

.statements .selected {
    border: 2px solid blue;
}

.radio .selected {
    border: 2px solid blue;
}

