/*
    ЭТОТ CSS-ФАЙЛ ДЛЯ ВСЕХ ТИПОВ ЗАДАНИЙ
*/

@media(min-width: 320px) {

    .chronology {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
    }

    .chronology .variant {
        width: 280px;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
        background: #FFFFFF;
        padding: 18px;
        margin: 0;
        font-size: 18px;
        font-weight: 600;
    }

    .chronology .hover {
        opacity: 0.8;
    }

    .chronology .empty {
        opacity: 0;
    }


    .statements{
        margin: 10px 0;
    }

    .statements .variant {
        margin: 0 6px 23px;
    }

    .statements .variant {
        width: calc(100% - 40px);
        border: 2px solid #C9C9C9;
        border-radius: 5px;
        padding: 18px;
        font-size: 20px;
        margin: 0 0 23px;
        cursor: pointer;
    }


    .radio{
        margin: 10px 0;
    }

    .radio .variant {
        /*width: 268px;*/
        border: 2px solid #C9C9C9;
        border-radius: 5px;
        padding: 18px;
        font-size: 20px;
        margin: 0 0 23px;
        cursor: pointer;
    }


    .match {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .match .elements {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 14px;
    }

    .match .element .cell {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        position: relative;
    }

    .match .element {
        min-height: 112px;
        background: #FFFFFF;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
    }

    .match .element .content {
        width: calc(100% - 20px);
        margin-top: 0;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        padding: 10px;
    }

    .match .element .line {
        border: 1px solid #C9C9C9;
    }

    .match .variants {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        padding: 15px;
        position: relative;
    }

    .match .variants-section {
        min-height: 40px;
        border: 2px solid #C9C9C9;
        /*box-shadow: 0px 0px 22px -2px rgba(34, 60, 80, 0.2);*/
    }

    .match header h2 {
        text-align: center;
        margin-bottom: 5px;
    }

    .match .variant {
        width: 270px;
        padding: 10px;
        margin: auto;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
        background: #FFFFFF;
        font-weight: 700;
        font-size: 17px;
        text-align: center;
        box-shadow: 0px 0px 22px -2px rgba(34, 60, 80, 0.2);
    }

    .answer {

    }

    .answer p {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .answer input {
        padding: 0 10px;
        width: calc(100% - 4px - 20px);
        height: 40px;
        background: #FFFFFF;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
        outline: none;
        font-size: 17px;
    }

    .input p {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .input textarea {
        padding: 5px 10px 0;
        width: calc(100% - 5px - 20px);
        min-height: 40px;
        outline: none;
        color: rgba(0, 0, 0, 0.8);
        font-size: 18px;
        font-weight: 600;
        font-family: 'ProximaNova', sans-serif;
        background: #FFFFFF;
        border: 2px solid #C9C9C9;
        border-radius: 5px;
    }

    .cell .variant {
        box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.2);
    }

    .document h4 {
        font-size: 16.5px;
        margin-bottom: 10px;
    }

    .document .document-content {
        font-style: italic;
        font-size: 18px;
        /*box-shadow: 0 0 10px rgb(0 0 0 / 25%);*/
        border: 1.8px solid rgb(0 0 0 / 10%);
        border-radius: 5px;
    }

    .document .document-content p {
        margin: 0;
        padding: 10px;
    }


    .images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 40px;
        /*row-gap: 40px;*/
        align-items: start;
        margin-bottom: 10px;
    }

    .images .picture {
        display: flex;
        position: relative;
        /*min-height: 300px;*/
        min-height: 250px;
        min-width: 300px;
        max-width: 300px;
        background: #FFFFFF;
        border: 2px solid rgba(159, 159, 159, 0.47);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        height: calc(100% - 46px);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
        cursor: pointer;
        margin: 0 auto 45px;
    }

    .images .checked {
        border: 2px solid rgb(12, 0, 222);
        box-shadow: 0 0 0 rgb(12, 0, 222);
    }

    .images .image {
        max-width: 270px;
        margin: auto;
    }

    .picture-element .picture {
        display: block;
        max-width: 320px;
        text-align: center;
        margin: auto;
    }

    .matchlist {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .matchlist .key {
        font-size: 17.5px;
    }

    .matchlist p {
        margin: 0;
    }

    .matchlist select {
        height: 34px;
        background: #FFFFFF;
        border: 2px solid rgba(159, 159, 159, 0.47);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding-left: 5px;
        font-size: 15px;
    }


    .quote {
        position: relative;
    }

    .quote h4 {
        font-size: 16.5px;
        margin: 0;
        text-align: right;
    }

    .quote .quote-content {
        font-style: italic;
        font-size: 18px;
        /*box-shadow: 0 0 10px rgb(0 0 0 / 25%);*/
        border: 1.8px solid rgb(0 0 0 / 10%);
        border-radius: 5px;
        padding-bottom: 10px;
    }

    .quote .quote-content p {
        margin: 0;
        padding: 10px;
    }

    .quote .author-section {
        position: absolute;
        right: 0;
        bottom: -15px;
        /*box-shadow: 0 0 10px rgb(0 0 0 / 10%);*/
        border: 1.8px solid rgb(0 0 0 / 10%);
        border-radius: 5px;
        padding: 5px;
        background-color: white;
    }

    .maps iframe {
        width: 100%;
    }

    .title h3 {
        margin-bottom: 0;
    }
}

@media(min-width: 768px) {

    .chronology .variant {
        width: calc(100% - 40px);
    }

    /*.radio .variant {*/
    /*    width: 560px;*/
    /*}*/

    /*.match .element {*/
    /*    width: 600px;*/
    /*    margin: 0 auto;*/
    /*}*/

    .match .variant {
        width: 644px;
        margin: 0 auto;
    }

    .document h4 {
        font-size: 18px;
        margin-top: 0;
    }

    .images {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
    }

    .images .picture {
        min-width: 326px;
        max-width: 326px;
    }

    .picture-element .picture {
        max-width: 700px;
    }
}

@media(min-width: 1024px) {

    /*.match {*/
    /*    flex-direction: row;*/
    /*}*/

    .match .variant {
        width: 839px;
    }

    .images .picture {
        min-width: 426px;
        max-width: 426px;
    }

    .images .image {
        max-width: 330px;
        margin: auto;
    }

}

.chronology .selected {
    z-index: 5;
}

.chronology .hover {
    box-shadow: 0px 0px 2px 6px rgba(25, 5, 143, 0.33);
}

.match .selected {
    z-index: 5;
}

.match .hover {
    box-shadow: 0px 0px 2px 6px rgba(25, 5, 143, 0.33);
}

.statements .selected {
    border: 2px solid blue;
}

.radio .selected {
    border: 2px solid blue;
}

