
.elements-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}


.elements-list__item {

}

.elements-list__item header h3 {
    font-weight: normal;
    font-size: 20px;
}