.border_blue {
    position: relative;
    width: 320px;
    height: 97px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #644AFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: auto auto 112px;
}

.border_blue .text_number {
    width: 215px;
    height: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 11px 0 8px 18px;
}

.text_border_white {
    width: 275px;
    height: 93px;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
    margin: 15px 27px 8px 18px;
}


a .link {
    width: 208px;
    height: 16px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #505050;
    padding: 0 38px 10px;
}

.content {
    width: 320px;
    margin: auto;
}

a .link_blue {
    display: none;
}

.border_white {
    position: absolute;
    width: 320px;
    height: max-content;
    left: 0;
    right: 0;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: auto auto;
}

.relative {
    position: relative;
}

.circle {
    display: none;
}

.text_direction_none {
    text-decoration: none;
}

@media (min-width: 768px) {
    .border_blue {
        width: 700px;
    }

    .flex_circle {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .circle {
        display: block;
        height: 34px;
        width: 34px;
        border-radius: 50%;
        background-color: #D9D9D9;
    }

    .task_test_blue {
        text-align: center;
        color: #FFFFFF;
        line-height: 30px;
    }

    .circle_p_grey {
        text-align: center;
        line-height: 30px;
    }

    .blue {
        background-color: #644AFF;
    }

    .content {
        width: 700px;
        margin: 86px auto 0;
    }

    .border_white {
        width: 700px;
    }

    .text_border_white {
        width: 100%;
        height: 93px;
        font-weight: 700;
        font-size: 23px;
        line-height: 27px;
        color: #000000;
        margin: 15px 0 8px 9px;
    }

    .border_blue {
        top: 0;
    }

    a .link {
        padding: 16px 0;
    }

    a .link_blue {
        font-weight: 700;
        font-size: 14px;
        color: #4200FF;
        display: block;
    }

    .flex_link {
        display: flex;
        flex-direction: row;
        gap: 317px;
    }
}

@media (min-width: 1024px) {
    .border_blue {
        width: 900px;
    }

    .border_white {
        width: 900px;
    }

    .content {
        width: 900px;
    }

    .flex_link {
        gap: 530px;
    }
}