<div class="match" id="{{ field_name }}" draggable="false">
    <div class="elements">
        {% for variant, variant_id in variants_col1 %}
            <div class="element" data-id="{{ variant_id }}">
                <div class="content">
                    {{ variant }}
                </div>
                <div class="line"></div>
                <div class="cell">

                </div>
            </div>
        {% endfor %}
    </div>
    <header>
        <h2>Варианты ответов</h2>
    </header>
    <div class="variants-section">
        <div class="variants">
            {% for variant, variant_id in variants_col2 %}
                <div class="variant" data-id="{{ variant_id }}">
                    {{ variant }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>