<div class="match" id="{{ field_name }}" draggable="false">
    <div class="elements">
        {% for variant in variants_col1 %}
            <div class="element">
                <div class="content">
                    {{ variant }}
                </div>
                <div class="line"></div>
                <div class="cell" draggable="true">

                </div>
            </div>
        {% endfor %}
    </div>
    <div class="variants">
        {% for variant in variants_col2 %}
            <div class="variant">
                {{ variant }}
            </div>
        {% endfor %}
    </div>
</div>