{% extends 'base.html' %}
{% load static %}

{% block title %}Рейтинг{% endblock %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'ratings/ratings.css' %}">
{% endblock %}

{% block content %}

    {% include 'header.html' %}

    <div class="top_information">
        <div class="icon_ratings"></div>
            <div class="ratings_text_black">
                Рейтинг
            </div>
            <div class="ratings_text_blue">
                Топ 5
            </div>
    </div>

    <div class="cards">
        <div class="card">
            <p class="number">1</p>
            <div class="hr"></div>
            <div class="image_name">
                <div class="image"></div>
                <div class="name_surname">
                    Георгий Панов
                </div>
            </div>
            <div class="label">
                Решено заданий: 150 из 161 (93%)
            </div>
            <div class="progress-bar">
                  <div class="line progress" style="--progress: 0.687431;"></div>
                  <div class="line background"></div>
            </div>
            <button class="button_user_page">
                Перейти на страницу аккаунта
            </button>
        </div>
        <div class="card">
            <p class="number">1</p>
            <div class="hr"></div>
            <div class="image_name">
                <div class="image"></div>
                <div class="name_surname">
                    Георгий Панов
                </div>
            </div>
            <div class="label">
                Решено заданий: 150 из 161 (93%)
            </div>
            <div class="progress-bar">
                  <div class="line progress" style="--progress: 0.687431;"></div>
                  <div class="line background"></div>
            </div>
            <button class="button_user_page">
                Перейти на страницу аккаунта
            </button>
        </div>
    </div>

    {% include 'footer.html' %}

{% endblock %}

{% block js_scripts %}

{% endblock %}