
.tests-list {
    display: flex;
    flex-direction: column;
}

.tests-list .test-card {
    padding: 20px 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
}

.tests-list .test-card .name {
    margin: 0;
}

.tests-list .test-card .button {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    margin: 0;
    background-color: blue;
    cursor: pointer;
}

main {
    margin: 0 auto;
}

.image {
    width: 100%;
    height: 310px;
    background: url("../img_index_start_header/icon_ourPlatform.png") no-repeat center;
    background-size: 300px;
}

.about_platform {
    font-size: 27px;
}

.about_platform h3 {
    padding: 0 27px 0 11px;
}

.description_about_platform {
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 87px;
}

.description_about_platform p {
    padding-left: 16px;
}

.image_1 {
    height: 399px;
    background: url("../img_index_start_header/icon_test_platform.png") no-repeat center;
    background-size: 293px;
}

.popular_test_our {
    font-size: 27px;
    width: 100%;
    height: 104px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}

.card {
    width: 263px;
    height: 370px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 16px;
}

.icon {
    background: url("../img_index_start_header/icon.png") no-repeat center 23px;
    height: 130px;
    background-size: 100px;
}

.card .title {
    width: 221px;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    margin: auto;
    height: 75px;
}

.description_card {
    height: 76px;
    text-align: center;
    padding-bottom: 29px;
}

.button_start_page {
    width: 224px;
    border-radius: 5px;
    color: white;
    display: inline-block;
    background-color: #3300FF;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 12px;
    border: 2px solid #19058F;
    text-align: center;
    margin: 0 0 21px 5px;
}

.what_wait {
    width: 281px;
    height: 97px;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    margin: auto;
    padding: 41px 0 29px;
}

@media (min-width: 768px) {
    .image {
        width: 100%;
        height: 310px;
        background: url("../img_index_start_header/icon_ourPlatform_768px.png") no-repeat center;
        background-size: 494px;
    }

    .adaptive_768px {
        display: flex;
        flex-direction: row;
    }

    .image_1 {
        width: 100%;
    }

    .text_adaptive_768px {
        width: 1200px;
    }

    .popular_test_our {
        width: 100%;
    }

    .popular_test_our p {
        text-align: center;
    }

    .cards {
        display: grid;
        margin-bottom: 18px;
        grid-template-columns: repeat(2, 1fr);
    }

    .what_wait {
        width: 100%;
        text-align: center;
    }

    .buttons {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .image {
        background-size: 595px;
    }

    .image_1 {
        background-size: 261px;
        height: 261px;
    }

    .text_adaptive_768px {
        width: 822px;
        padding-left: 97px;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}