
.tests-list {
    display: flex;
    flex-direction: column;
}

.tests-list .test-card {
    padding: 20px 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
}

.tests-list .test-card .name {
    margin: 0;
}

.tests-list .test-card .button {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    margin: 0;
    background-color: blue;
    cursor: pointer;
}

main {
    margin: 0 auto;
}

.image {
    width: 100%;
    height: 310px;
    background: url("../img_index_start_header/icon_ourPlatform.png") no-repeat center;
    background-size: 230px;
}

.about_platform {
    font-size: 20px;
}

.about_platform h3 {
    padding: 0 16px;
}

.description_about_platform {
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 87px;
}

.description_about_platform p {
    padding: 0 16px;
}

.image_1 {
    height: 269px;
    background: url("../img_index_start_header/icon_test_platform.png") no-repeat center;
    background-size: 293px;
}

.popular_test_our {
    font-size: 27px;
    width: 100%;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}

.card {
    width: 263px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 16px;
    min-height: 340px;
    height: calc(100% - 45px);
    position: relative;
}

.card .icon {
    background: var(--icon-url) no-repeat center 23px;
    height: 130px;
    background-size: 100px;
}

.card .title {
    width: 240px;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

.card .description {
    height: 76px;
    width: 230px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 29px;
}

.card .button_start_page {
    position: absolute;
    bottom: 15px;
    width: 224px;
    border-radius: 5px;
    color: white;
    background-color: #3300FF;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 12px;
    border: 2px solid #19058F;
    text-align: center;
}

.what_wait {
    width: 281px;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    margin: auto;
    padding: 41px 0 29px;
}

.content {
    width: 320px;
    margin: 0 auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 9px;
}

.button_end_page {
    display: block;
    margin: auto;
}

@media (min-width: 768px) {

    .content {
        width: 700px;
    }

    .image {
        width: 100%;
        height: 310px;
        background: url("../img_index_start_header/icon_ourPlatform_768px.png") no-repeat center;
        background-size: 390px;
    }

    .adaptive_768px {
        display: flex;
        flex-direction: row;
    }

    .image_1 {
        width: 730px;
    }

    .text_adaptive_768px {
        width: 1200px;
    }

    .popular_test_our {
        width: 100%;
    }

    .popular_test_our p {
        text-align: center;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 630px;
        margin: auto;
    }

    .what_wait {
        width: 100%;
        text-align: center;
    }

    .buttons {
        flex-direction: row;
        gap: 9px;
    }

    .button_end_page {
        margin: 0;
    }
}

@media (min-width: 1024px) {

    .content {
        width: 1024px;
    }

    .image_1 {
        background-size: 261px;
        height: 261px;
    }

    .text_adaptive_768px {
        width: 822px;
        padding-left: 97px;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
        width: 950px;
    }
}