
.form-login {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
    width: 320px;
    padding: 20px;
    margin: 0 auto;
    font-size: 19px;
    border-radius: 3px;
    margin-top: 20px;
}

.form-login form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-login input {
    padding: 5px;
    font-size: 17px;
    border: 1px solid gray;
    border-radius: 3px;
}

.form-login .auth-label {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

.form-login .flex-row {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-login .submit-button {
    background-color: #19058F;
    font-size: 17px;
    font-weight: bold;
    color: white;
    padding: 7px 0;
    border: 2px solid #19058F;
    border-radius: 3px;
    cursor: pointer;
}

.form-login .submit-button:hover {
    color: #19058F;
    background-color: white;
    border: 2px solid #19058F;
}