form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

form input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border: 0 solid #E1E1E1;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
    padding: 5px;
    font-size: 17px;
    border-radius: 5px;
    background: #e8f0fe;
}

form textarea {
    box-sizing: border-box;
    width: 100%;
    border: 0 solid #E1E1E1;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
    padding: 5px;
    font-size: 17px;
    border-radius: 5px;
    background: #e8f0fe;
}

.field {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


form input[type="file"] + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}
form input[type="file"]:focus + label,
form input[type="file"] + label:hover {
    background-color: red;
}

@media (min-width: 320px) {
    body {
        display: none;
    }
}

@media (min-width: 768px) {
    body {
        display: block;
    }

    .created_project_text {
        height: 31px;
        font-weight: 700;
        font-size: 23px;
        margin: 100px auto 28px;
    }

    .text_name {
        width: 99px;
        height: 23px;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
    }

    .flex {
        display: flex;
        flex-direction: row;
        gap: 120px;
        margin: 20px auto;
    }

    .input_name input{
        width: 379px;
        height: 34px;
        background: #FFFFFF;
        border: 2px solid rgba(159, 159, 159, 0.47);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding-left: 10px;
    }

    .input_name textarea{
        width: 379px;
        height: 112px;
        background: #FFFFFF;
        border: 2px solid rgba(159, 159, 159, 0.47);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding-left: 10px;
        outline-color: blue;
    }

    .input_name input {
        outline-color: blue;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 31%)
    }

    .text_icon {
        width: 99px;
        height: 23px;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
    }

    .border_icon {
        width: 100px;
        height: 100px;
        background: #FFFFFF;
        border: 2px solid rgba(159, 159, 159, 0.47);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }

    .image_icon {
        width: 100%;
        height: 100%;
        background: url("../templates_icon.png") no-repeat center;
        background-size: 60px;
    }

    .button_upload_icon {
        width: 171px;
        height: 36px;
        background: #3E3E3E;
        border: 2px solid #3E3E3E;
        border-radius: 5px;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 10px;
    }

    .button_upload_icon:hover {
        background-color: #FFFFFF;
        color: #3E3E3E;
        padding-top: 10px;
    }

    .button_created_project {
        position: relative;
        left: 461px;
        top: 50px;
    }
}

@media (min-width: 1024px) {
    .flex {
        gap: 179px;
    }

    .button_created_project {
        left: 72vh;
    }
}