{% extends 'base.html' %}
{% load static %}

{% block title %}Новый тест{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'editor/style.css' %}">
    <link rel="stylesheet" href="{% static 'editor/creation_page/style.css' %}">
{% endblock %}

{% block content %}
    {% include 'editor/header.html' %}

    <div class="content">
        <div class="created_project_text">
            Создание проекта
        </div>
        <div class="flex">
            <div class="text_name">
                Название
            </div>
            <div class="input_name">
                <form>
                    <input placeholder="Введите название проекта">
                </form>
            </div>
        </div>
        <div class="flex">
            <div class="text_name">
                Описание
            </div>
            <div class="input_name">
                <textarea placeholder="Введите описание"></textarea>
            </div>
        </div>
        <div class="grid">
            <div class="text_icon">
                Иконка
            </div>
            <div class="border_icon">
                <div class="image_icon"></div>
            </div>
            <div class="button_upload_icon">
                Загрузить иконку
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for f in form %}
                <div class="field">
                    <label class="label" for="{{ f.id_for_label }}">{{ f.label }} </label><br>
                    {{ f }}<br>
                </div>
            {% endfor %}
            <button style="margin: 0;" type="submit" name="submit-button" class="button button_created_project"/>Создать проект</button>
        </form>
    </div>
    {% include 'footer.html' %}

{% endblock %}

{% block js_scripts %}

{% endblock %}