{% extends 'base.html' %}
{% load static %}

{% block title %}{{ project.project_name }}{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'table.css' %}">
    <link rel="stylesheet" href="{% static 'modal_window.css' %}">
    <link rel="stylesheet" href="{% static 'editor/editor.css' %}">
    <link rel="stylesheet" href="{% static 'editor/style.css' %}">
    <link rel="stylesheet" href="{% static 'editor/header.css' %}">
    <link rel="stylesheet" href="{% static 'editor/project/style.css' %}">
{% endblock %}

{% block content %}

    {% include 'editor/header.html' %}

    <div class="content">

        <p class="path">{{ project.project_name }}</p>

        <section class="preview-project">
            <main>
                <div class="project-icon" style="--icon-url: url('/media/{{ project.icon }}')"></div>
                <div class="project-info">
                    <h2 class="name">{{ project.name }}</h2>
                    <p class="description">{{ project.description }}</p>
                </div>
            </main>
            <div class="button button-change-info" data-url="{% url 'editor:edit_project' project_id=project.id %}"></div>
        </section>

        <section class="project-tasks">
            <header>
                <h2>Задания</h2>
            </header>
            <main>
                {{ tasks_table }}
            </main>
        </section>

        <div class="button button-secondary button-create-task" data-modalwindow="#creation_task">
            Создать задание
        </div>

        <div class="editor-bar hidden">
            <div class="content-relative">
                <div class="button button-save-changes">Сохранить изменения</div>
            </div>
        </div>

        {% csrf_token %}

    </div>

    {% include 'editor/project/modal_window/creation_task.html' %}

    {% include 'footer.html' %}

{% endblock %}

{% block js_scripts %}
    <script src="{% static 'editor/changes.js' %}"></script>
{#    <script src="{% static 'editor/project.js' %}"></script>#}
    <script src="{% static 'editor/editor_object.js' %}"></script>
    <script src="{% static 'editor/project/tasks_table.js' %}"></script>
    <script>
        let changesManager = new ChangesManager();

        let table = new TasksTable('tasks_table');
        changesManager.addElement(table)
        table.setManager(changesManager)

        let button = document.querySelector('.button-save-changes');
        button.onclick = function () {
            changesManager.sendUpdates()
        };

    </script>
{% endblock %}
