{% extends 'tests/elements/base_exercise.html' %}

{% block exercise_class %}matchlist{% endblock %}
{% block type %}matchlist{% endblock %}

{% block content %}
    {% for key in keys %}
        <div class="key" data-id="{{ key.id }}">
            <p>
                {{ key.content }}
                — <select name="value" class="select-value">
                    <option value=""></option>
                    {% for value in values %}
                        <option value="{{ value.id }}" {% if value.id == key.current_value.id %}selected{% endif %}>{{ value.content }}</option>
                    {% endfor %}
                </select>
            </p>
        </div>
    {% endfor %}
{% endblock %}
