{% extends 'modal_window.html' %}
{% load static %}

{% block id %}creation_task{% endblock %}
{% block title %}Создать задание{% endblock %}
{% block action %}create_task{% endblock action %}

{% block content %}
    <div class="modal-window__field">
        <h4 class="field-name">Название</h4>
        <input type="text" name="name"/>
    </div>
    <div class="modal-window__field">
        <h4 class="field-name">Взять за основу шаблон</h4>
        <select name="template">
            <option>нет</option>
            <option>Выпадающий список</option>
            <option>Выпадающий список</option>
        </select>
    </div>
{% endblock %}
