@media (min-width: 320px) {
    .foot {
        margin-top: 40px;
        height: max-content;
        background: black;
    }

    .foot .box {
        width: 300px;
        margin: 10px auto auto;
        padding: 0.2px;
    }

    .foot .authors-label {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: white;
    }

    .cards_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin-bottom: 25px;
    }

    .cards_footer .card_footer {
        position: relative;
        width: 295px;
        height: 120px;
        /*box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.25);*/
        border-radius: 5px;
        transition: 0.2s;
    }

    .cards_footer .card_footer:hover {
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.25);
    }

    .cards_footer .card_footer .avatar {
        position: absolute;
        background-image: var(--data-url);
        background-position: center;
        background-size: cover;
        width: 103px;
        height: 103px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
    }

    .cards_footer .card_footer .name {
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 18px;
        right: 20px;
        top: 20px;
        text-align: right;
    }

    .cards_footer .card_footer .nickname {
        position: absolute;
        color: darkgray;
        font-size: 13px;
        font-weight: bold;
        right: 20px;
        top: 42px;
        text-align: right;
    }

    .cards_footer .card_footer .button {
        position: absolute;
        right: 20px;
        bottom: 10px;
        width: 120px;
        height: 26px;
        border: 0;
        color: white;
        border-radius: 5px;
        transition: 0.3s;
    }

    .cards_footer .card_footer .button:hover {
        background-color: white;
    }

    .cards_footer .card_footer .button:hover p {
        color: black;
    }

    .cards_footer .card_footer .button p {
        margin-top: 5px;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
    }

    .cards_footer .card_footer a {
        text-decoration: none;
    }

    .cards_footer .card_footer a:visited {
        color: white;
    }

    .logo img{
        width: 223px;
        height: 168px;
    }

    .descriptionFooter {
        width: 271px;
        height: 361px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }

    .yearRule {
        font-size: 18px;
        color: #FFFFFF;
        /*margin: auto;*/
        padding: 20px 0;
        width: max-content;
    }

    .logo img {
        width: 223px;
        height: 168px;
    }
}

@media (min-width: 768px) {
    .logo img {
        width: 223px;
        height: 168px;
        margin: auto 0 auto 0;
    }

    .yearRule {
        padding: 20px 0;
        font-size: 18px;
        color: #FFFFFF;
        text-align: center;
        width: max-content;
        margin: auto;
    }

    .descriptionFooter {
        font-size: 15px;
        width: 476px;
        height: max-content;
    }

    .cards_footer {
        flex-direction: row;
    }

    .foot .box {
        width: 768px;
    }

    .foot {
        padding-top: 10px;
        height: max-content;
        max-width: 99.7vw;
    }

    .foot .box .flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }

    .foot .authors-label {
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    .foot .box {
        width: 100%;
    }
}