
.head {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header_padding {
    margin-top: 80px;
}

.head .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.head .burger-menu {
    width: 40px;
    height: 40px;
    background: url('users/burger.png') no-repeat left;
    background-size: 41px;
    margin-left: 15px;
    margin-top: 5px;
}

.head .current_user-bar {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.head .current_user-bar .username {
    display: none;
    margin: 25px 0 0;
    font-size: 23px;
    font-weight: bold;
}

.head .current-user_avatar {
    width: 54px;
    background: var(--avatar-url) no-repeat center;
    background-size: 46px;
    border-radius: 5px;
    padding-right: 15px;
    height: 100%;
}

.head .pages {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-right: 150px;
    gap: 30px;
}

.head .menu-button {
    display: none;
}

.head .our_icon {
    display: none;
    width: 197px;
    height: 100%;
    background: url("logos/logo_short.png") no-repeat center 10px;
    background-size: 168px;
}


[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: max-content;
    left: 0; right: 0; top: 50px;
    text-align: center;
    background: white;
    color: black;
    padding: 0.3em 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 0.2s;
    border-radius: 5px;
    font-family: 'ProximaNova', sans-serif;
}

/*окно при наведении*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_0 {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    margin: 10px 0 0 -103px;
    border-radius: 5px;
}

.dropdown-content_0 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    margin: 10px 0 0 7px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content_0 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content_0 a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown_0:hover .dropdown-content_0 {
    display: block;
}

/*окно закончилось*/
[data-tooltip]:hover::after {
    opacity: 1;
    top: 80px;
}

@media(min-width: 768px) {

    .head {
        height: 73px;
        justify-content: space-around;
    }

    .head .content {
        width: 700px;
    }

    .head .our_icon {
        display: block;
    }

    .head .burger-menu {
        display: none;
    }

    .header_padding {
        margin-top: 100px;
    }

    .head .menu-button {
        display: block;
    }

    .head .tests {
        width: 45px;
        height: 100%;
        background: url("users/icon_tests.png") no-repeat center 10px;
        background-size: 45px;
        background-position-y: center;
        display: block;
    }

    .head .ratings {
        width: 45px;
        height: 100%;
        background: url("users/ratings_v3.png") no-repeat center 10px;
        background-size: 45px;
        background-position-y: 18px;
        display: block;
    }

    .head .society {
        width: 65px;
        height: 100%;
        background: url(society.png) no-repeat center 10px;
        background-size: 65px;
        background-position-y: center;
        display: block;
    }
}


@media(min-width: 1024px) {

    .head .content {
        width: 900px;
    }

    .head .pages {
        padding-right: 180px;
    }

    .head .current_user-bar .username {
        display: block;
    }
}
