
.modal-window {
    display: none;
    width: 400px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: white;
    padding: 15px 20px 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 12;
}

.modal-window__header {
    font-size: 20px;
    margin: 0;
}

.modal-window__button {
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.modal-window__field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-window__field .field-name {
    margin-bottom: 0;
    font-size: 17px;
}

.modal-window input[type="text"] {
    height: 30px;
    background: #FFFFFF;
    border: 2px solid rgba(159, 159, 159, 0.47);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}

.modal-window select {
    height: 34px;
    background: #FFFFFF;
    border: 2px solid rgba(159, 159, 159, 0.47);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}

.modal-window-active {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: open_modal-window 0.4s;
}


.modal-background-active {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
    animation: open_modal-background 0.4s;
}

@keyframes open_modal-background {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes open_modal-window {
  from {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.95);
  }
  to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
  }
}
