/*
    ЭТО ОБЩИЙ СТИЕЛВОЙ ФАЙЛ ДЛЯ ВСЕХ СТРАНИЦ САЙТА (ДАЖЕ ДЛЯ ГЛАВНОЙ)
*/

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

body::-webkit-scrollbar {
    display: none;
}
