
.card {
    width: 263px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: auto auto 16px;
    min-height: 340px;
    height: calc(100% - 45px);
    position: relative;
    padding: 15px 15px 40px;
}

.card .icon {
    background: var(--icon-url) no-repeat center;
    height: 110px;
    width: 110px;
    background-size: contain;
    margin: auto auto 15px;
}

.card .title {
    width: 240px;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

.card .description {
    width: 230px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 29px;
}

.card .statistics {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: 20px 0;
    padding-bottom: 20px;
}

.card .line {
    --max-width: 243px;
    height: 5px;
    margin: 0 10px;
    width: calc(100% - 20px);
    max-width: var(--max-width);
}

.card .progress-bar .background {
    background: #A6A6A6;
}

.card .progress-bar .progress {
    position: absolute;
    background: #2C00DE;
    width: calc(var(--max-width) * var(--progress));
}

.card .stats-label {
    width: 100%;
    height: 20px;
    font-weight: 700;
    line-height: 15px;
    color: #2C00DE;
    padding-left: 10px;
}

.card .button_start_page {
    position: absolute;
    bottom: 15px;
    width: 224px;
    border-radius: 5px;
    color: white;
    background-color: #3300FF;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 12px;
    border: 2px solid #19058F;
    text-align: center;
    left: 0;
    right: 0;
}
