{% extends 'base.html' %}
{% load static %}

{% block title %}Новый тест{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'editor/style.css' %}">
    <link rel="stylesheet" href="{% static 'editor/creation_page/style.css' %}">
{% endblock %}

{% block content %}
    {% include 'editor_header.html' %}

    <div class="content">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for f in form %}
                <div class="field">
                    <label class="label" for="{{ f.id_for_label }}">{{ f.label }} </label><br>
                    {{ f }}<br>
                </div>
            {% endfor %}
            <button type="submit" name="submit-button" class="button"/>Создать проект</button>
        </form>
    </div>

{% endblock %}

{% block js_scripts %}

{% endblock %}