{% extends 'base.html' %}
{% load static %}

{% block title %}Редактор тестов{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'editor/style.css' %}">
{% endblock %}

{% block content %}
    {% include 'editor_header.html' %}

    <div class="content">

        {% if not published_tests|length and not development_tests|length %}

            <h2>Добро пожаловать в редактор тестов!</h2>
            <p>
                В этом разделе сайта вы можете реализовывать свои тесты на основе заготовленных
                типов заданий. Создайте свой первый проект и опубликуйте, когда посчитаете его готовым.
            </p>

        {% endif %}

        {% if published_tests|length %}

            <section class="published-tests">
                <h2>Ваши тесты</h2>
            </section>

            {% for test in published_tests %}
                <div>
                    <h3>{{ test.name }}</h3>
                    <p>{{ test.description }}</p>
                    <img src="/media/{{ test.icon }}">
                </div>
            {% endfor %}

        {% endif %}

        {% if development_tests|length %}

            <section class="development-tests">
                <h2>Неопубликованные тесты</h2>
            </section>

            {% for test in development_tests %}
                <div>
                    <h3>{{ test.name }}</h3>
                    <p>{{ test.description }}</p>
                </div>
            {% endfor %}

        {% endif %}

        <div class="button" data-url="/editor/create_test">
            Создать новый проект
        </div>

    </div>

{% endblock %}

{% block js_scripts %}

{% endblock %}