{% load static %}
    <footer class="foot">
        <div class="box">

            <p class="authors-label">Авторы</p>

            <div class="cards_footer">
                <div class="card_footer">
                    <div class="avatar" style="--data-url: url('/static/users/panov_georgij_header.png')"></div>
                    <div class="name">Панов Георгий</div>
                    <div class="nickname">py lifor</div>
                    <a href="https://web.it-college.ru/i21s597">
                        <div class="button">
                            <p>Перейти</p>
                        </div>
                    </a>
                </div>
                <div class="card_footer">
                    <div class="avatar" style="--data-url: url('/static/users/viklower.png')"></div>
                    <div class="name">Воробьев Михаил</div>
                    <div class="nickname">viklover</div>
                    <a href="https://web.it-college.ru/i21s585">
                        <div class="button">
                            <p>Перейти</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="flex">
                <a href="https://ekat.ithub.ru">
                    <div class="logo">
                        <img src="/static/ithub.png" alt="">
                    </div>
                </a>
                <div class="descriptionFooter">
                    Эта страница является внутренним
                    ресурсом ИТ-колледжа ИТхаб-Екатеринбург
                    и предназначена для использования
                    ИСКЛЮЧИТЕЛЬНО студентами или
                    преподавателями.
                    Если Вы не являетесь сотрудником
                    или учащимся ИТхаб-Екатеринбург,
                    или если Вы не получили разрешение
                    на доступ от администрации колледжа -
                    просим немедленно покинуть этот сайт.
                    Просим воздерживаться от
                    неправомерного или неправомочного
                    доступа.
                </div>
            </div>
            <div class="yearRule">
                <b>2022 г. Все права защищены</b>
            </div>
        </div>
    </footer>