<div class="head" style="">
    <div class="content">
        <div class="burger-menu" id="burger"></div>
        <a href="/" data-tooltip="Главная страница">
            <div class="our_icon" id="our_icon"></div>
        </a>
        <div class="pages">
            <a href="/tests" data-tooltip="Тесты">
                <div class="menu-button tests" id="icon_tests"></div>
            </a>
            <a href="/users" data-tooltip="Сообщество">
                <div class="menu-button society" id="society"></div>
            </a>
            <a href="/ratings" data-tooltip="Рейтинг">
                <div class="menu-button ratings" id="ratings"></div>
            </a>
        </div>
        <div class="current_user-bar" id="current-user_avatar">
            {% if user.is_authenticated %}
                <p class="username" id="username">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                <div class="current-user_avatar" style="--avatar-url: url('/media/{{ request.user.avatar }}');"></div>
            {% else %}

            {% endif %}
        </div>
    </div>
</div>
<div class="header_padding"></div>