<div class="head" style="">
    <div class="content">
        <div class="dropdown_0">
            <div class="burger-menu" id="burger"></div>
            <div class="dropdown-content_0" style="left: 0;">
                <a href="/">Главная страница</a>
                <a href="/tests">Список всех тестов</a>
                <a href="/users">Сообщестово</a>
                <a href="/ratings">Рейтинг</a>
            </div>
        </div>
        <a href="/" data-tooltip="Главная страница">
            <div class="our_icon" id="our_icon"></div>
        </a>
        <div class="pages">
            <a href="/tests" data-tooltip="Тесты">
                <div class="menu-button tests" id="icon_tests"></div>
            </a>
            <a href="/users" data-tooltip="Сообщество">
                <div class="menu-button society" id="society"></div>
            </a>
            <a href="/ratings" data-tooltip="Рейтинг">
                <div class="menu-button ratings" id="ratings"></div>
            </a>
        </div>
        <div class="current_user-bar" id="current-user_avatar">
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <p class="username" id="username">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                    <div class="current-user_avatar" style="--avatar-url: url('/media/{{ request.user.avatar }}')"></div>
                    <div class="dropdown-content">
                        <a href="/users/{{ user.id }}" class="first_name_lastName">{{ user.first_name }} {{ user.last_name }}</a>
                        <a href="/users/you">Моя страница</a>
                        <a href="/users/you/edit">Настройки</a>
                        <a href="/editor">Мастерская тестов</a>
                        <a href="/accounts/logout" style="color: red;">Выйти из аккаунта</a>
                    </div>
                </div>
{#                <div class="dropdown" style="float:left;">#}
{#                  <button class="dropbtn">Left</button>#}
{#                  <div class="dropdown-content" style="left:0;">#}
{#                    <a href="#">Link 1</a>#}
{#                    <a href="#">Link 2</a>#}
{#                    <a href="#">Link 3</a>#}
{#                  </div>#}
{#                </div>#}
            {% else %}

            {% endif %}
        </div>
    </div>
</div>
<div class="header_padding"></div>