{% extends 'base.html' %}
{% load static %}

{% block title %}Платформа тестов{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
{% endblock %}

{% block content %}
    {% include 'header.html' %}

    <main>
        <div class="tests-list">
            {% for test in tests %}
                <div class="test-card">
                    <h2 class="name">{{ test.name }}</h2>
                    <p class="description">{{ test.description }}</p>
                    <a href="/tests/{{ test.id }}"><p class="button">Перейти к тесту</p></a>
                </div>
            {% endfor %}
        </div>
    </main>


    {% include 'footer.html' %}
{% endblock %}

{% block js_scripts %}

{% endblock %}