{% extends 'base.html' %}
{% load static %}

{% block title %}{{ test.name }}: Задание {{ task.number }}{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'tests/exercises/exercises.css' %}">
    <link rel="stylesheet" href="{% static 'tests/tasks/header.css' %}">
    <link rel="stylesheet" href="{% static 'tests/tasks/style.css' %}">
{% endblock %}

{% block content %}

    {% include "tests/test_header.html" %}

    <div class="content">

        <div class="question-list">
            <div class="current-question">
                Задание №{{ task.number }}
            </div>
        <hr color="gray">
        </div>

        <div class="question" id="question">
            <p>{{ task.question }}</p>
        </div>

{#        {% block content %}{% endblock %}#}

        <button class="accept-button">
            <div class="text">
                Принять ответ
            </div>
        </button>
    </div>

{% endblock %}

{% block js_scripts %}
    <script src="{% static "exercises/exercises.js" %}"></script>
    {% block types_scripts %}{% endblock %}
    <script src="{% static "tasks/tasks.js" %}"></script>
{% endblock %}
