{% extends 'base.html' %}
{% load static %}

{% block title %}Платформа тестов{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="{% static 'test-card.css' %}">
    <link rel="stylesheet" href="{% static 'tests-page.css' %}">
{% endblock %}

{% block content %}
    {% include 'header.html' %}

    <main>
        <div class="tests-list">
            {% for test in tests %}
                {{ test }}
            {% endfor %}
        </div>
    </main>


    {% include 'footer.html' %}
{% endblock %}

{% block js_scripts %}

{% endblock %}