{% extends 'base.html' %}
{% load static %}
{% load test_math %}

{% block title %}Платформа тестов{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="{% static 'test-card.css' %}">
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    <link rel="stylesheet" href="{% static 'tests/tests-page.css' %}">
{% endblock %}

{% block content %}
    {% include 'header.html' %}

    <div class="content">
        <div class="top-title">
            <div class="tests-tab-icon"></div>
            <p class="title">Список тестов</p>
        </div>
        <div class="tests-list">
            {% for test in tests %}
                {{ test }}
            {% endfor %}
        </div>
    </div>


    {% include 'footer.html' %}
{% endblock %}

{% block js_scripts %}

{% endblock %}