{% extends 'base.html' %}
{% load static %}

{% block title %}{{ test.name }}{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'tests/style.css' %}">
{% endblock %}

{% block content %}

    {% include 'header.html' %}

    <div class="content">
        <div class="min_border">
        <div class="tags">
            <div class="tag tag_1">
                Средняя сложность
            </div>
            <div class="tag tag_2">
                Заданий: {{ number_of_tasks }}
            </div>
            <div class="tag tag_1_new">
                <div class="tag-content">
                    <p>Количество прохождений: {{ number_of_facts }}</p>
                </div>
            </div>
            <div class="tag tag_2_new">
                <div class="tag-content">
                    <p>Средний результат: 57%</p>
                </div>
            </div>
        </div>
        <div class="border_top">
            <div class="icon_test" style="--icon-url: url('/media/{{ test.icon }}');"></div>
            <h2 class="name_test">{{ test.name }}</h2>
            <p class="description_test">{{ test.description }}</p>
            <a href="/tests/{{ test.id }}/start">
                <div class="button">Начать прохождение</div>
            </a>
        </div>
    </div>
        <div class="border_open_file">
            <p class="open_description_file">
                Здесь открывается MarkDown-документ (как в GitHub и GitBucket) (README.md) и.т.д.
            </p>
        </div>
        <div class="comment_title">Комментарии</div>
        <div class="border_comment">

            <form method="POST" id="form-comments" action="/tests/{{ test.id }}/upload_comment" class="form-comments">
                {% csrf_token %}
                <input type="text" id="input" name="text"/>
                <button type="submit" class="button button_start_test button_create_comment" id="sent_comment">Отправить</button>
            </form>

            {% if comments|length %}

                <div class="hr_border_comment"></div>

                {% for comment in comments %}
                    <div class="comment">
                        <div class="avatar" style="--avatar-url: url('/media/{{ comment.user.avatar }}')"></div>
                        <div class="description_comment_index">
                            <div class="name">{{ comment.user.first_name }} {{ comment.user.last_name }}</div>
                            <div class="description_comment" id="description_comment">
                                {{ comment.message }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}

{% block js_scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script src="{% static 'tests/test_page.js' %}"></script>
{% endblock %}