
.preview-project {
    position: relative;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
}

.preview-project main {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.preview-project .project-icon {
    --size: 130px;
    width: var(--size);
    height: var(--size);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: var(--icon-url);
}

.preview-project .project-info {
    display: flex;
    flex-direction: column;
    width: 530px;
}

.preview-project .project-info .name {
    margin: 0;
}

.preview-project .project-info .description {
    margin-bottom: 0;
}

.preview-project .buttons-edit {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: absolute;
    right: 15px;
    top: 10px;
}

.path {
    margin-bottom: 10px;
    font-weight: bold;
}

.active-link {
    text-decoration: underline;
}

.button-change-info {
    --size: 20px;
    background-size: var(--size);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../edit_icon.png');
    padding: 15px;
}

.button-change-info:hover {
    background-image: url('../edit_icon(black).png');
}


.project-tasks {
    position: relative;
}

.tabs-menu header {
    font-size: 15px;
}

.tabs-menu {
    --active-color: rgba(0, 0, 0, 0.1);
    --default-color: gray;
    margin: 20px 0;
}

.tabs-menu .tabs-buttons h2 {
    border: 2px solid var(--default-color);
    /*border-radius: 5px;*/
    padding: 2px 10px;
    margin: 0;
}

.tabs-menu .tabs-buttons .tab-button {
    background-color: var(--default-color);
    color: white;
    cursor: pointer;
}

.tabs-menu .tabs-buttons .tab-button:hover {
    background-color: white;
    color: black;
}

.tabs-menu .tabs-buttons .active {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    border-width: 0;
    padding: 4px 12px;
}

.tabs-menu .tabs-buttons .active:hover {
    cursor: default;
}

.tabs-menu .tabs-buttons {
    display: flex;
    gap: 5px;
}

.tabs-line {
    width: 100%;
    height: 10px;
    background-color: var(--active-color);
}

.button-create-task {
    margin: 15px 0 0;
}


@media(min-width: 1024px) {

    .preview-project .project-info {
        width: 710px;
    }
}

.not-visible {
    opacity: 0;
}

.button-save-md {
    position: absolute;
    right: 10px;
    top: 14px;
    padding: 3px 5px;
    font-size: 13px;
    z-index: 10;
}

.fullscreen .button-save-md {
    top: 113px;
}

.not-allowed {
    opacity: 0.6;
    cursor: no-drop;
}

.not-allowed:hover {
    background-color: #2C00DE;
    color: white;
}

.tab-relative {
    position: relative;
}