{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
{% endblock %}

{% block content %}

<div class="header">
    <div class="burger" id="burger"></div>
    <div class="icon" id="icon"></div>
</div>

<div class="image"></div>
<div class="border">
    1 место
</div>
<p class="user_name">{{ user.first_name }} {{ user.last_name }}</p>
<p class="registration_when">{{ user.date_joined }}</p>
<p class="created_tests">Созданные тесты</p>
<div class="borders">
    <div class="border_1">
        <div class="image_icon"></div>
        <div class="index_text_border_1">
            Пореформенная Россия
        </div>
        <div class="description_test">
            Очень даже хороший тест.
            Здесь написано описание теста.
            Он подохдит для всех и пройти его
            нужно всем
        </div>
        <div class="button" style="width: 224px; border: 0;">
            Начать прохождение
        </div>
    </div>
</div>
<p class="created_tests">Пройденные тесты</p>
<div class="borders">
    <div class="border_1">
        <div class="image_icon"></div>
        <div class="index_text_border_1">
            Пореформенная Россия
        </div>
        <div class="completed">Пройдено 93%</div>
        <div class="hr"></div>
        <div class="hr_2"></div>
        <div class="button" style="width: 224px; border: 0;">
            Начать прохождение
        </div>
    </div>
</div>
<div class="borders">
    <div class="border_1">
        <div class="image_icon"></div>
        <div class="index_text_border_1">
            Пореформенная Россия
        </div>
        <div class="completed">Пройдено 68%</div>
        <div class="hr"></div>
        <div class="hr_2"></div>
        <div class="completed">Вы прошли на 55%</div>
        <div class="hr"></div>
        <div class="hr_2"></div>
        <div class="button" style="width: 224px; border: 0;">
            Начать прохождение
        </div>
    </div>
</div>



{% endblock %}

{% block js_scripts %}

{% endblock %}

{#<p>Имя пользователя: {{ user.first_name }}</p>#}
{#    <p>Фамилия пользователя: {{ user.last_name }}</p>#}
{#    <p>Зарегистрирован: {{ user.date_joined }}</p>#}