{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    <link rel="stylesheet" href="{% static 'test-card.css' %}">
{% endblock %}

{% block content %}

    {% include 'header.html' %}

    <div class="user">
        <div class="avatar" style="--avatar-url: url('/media/{{ user_page.avatar }}')">
            <div class="rating">1 место</div>
        </div>
        <div class="user-info">
            <p class="user_name">{{ user_page.first_name }} {{ user_page.last_name }}</p>
            <p class="registration_when">{{ user_page.date_joined }}</p>
        </div>
    </div>

    <section class="created_tests">
        <p class="label">Созданные тесты</p>
        <div class="created_tests-list">
            {% for test in created_tests %}
                {{ test }}
            {% endfor %}
        </div>
    </section>

    <section class="finished_tests">
        <p class="label">Пройденные тесты</p>
        <div class="finished_tests-list">
            {% for test in finished_tests %}
                {{ test }}
            {% endfor %}
        </div>
    </section>

{% endblock %}

{% block js_scripts %}

{% endblock %}

{#<p>Имя пользователя: {{ user_page.first_name }}</p>#}
{#    <p>Фамилия пользователя: {{ user_page.last_name }}</p>#}
{#    <p>Зарегистрирован: {{ user_page.date_joined }}</p>#}