
@media (min-width: 320px) {

    header .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        vertical-align: center;
        align-items: center;
        gap: 10px;
        height: 48px;
        background: #FFFFFF;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        padding: 10px;
    }

    header .container .favicon {
        width: 40px;
        height: 40px;
        background-image: url('/static/favicon.ico');
        background-size: contain;
    }

    header .container h1 {
        font-size: 23px;
        text-align: center;
    }



    .descriptionHeader {
        width: max-content;
        font-style: normal;
        margin: auto;
        font-weight: bold;
        font-size: 25px;
        line-height: 29px;
    }
}