.content {
    width: 250px;
    margin: auto;
}

.result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
}

.image_good_result {
    width: 50px;
    height: 50px;
    background: url("../tests/results/result_good.png") no-repeat center;
    background-size: 50px;
}

.image_bad_result {
    width: 37px;
    height: 37px;
    background: url("../tests/results/result_bad.png") no-repeat center;
    background-size: 37px;
}

.image_question_result {
    width: 37px;
    height: 37px;
    background: url("../tests/results/result_question.png") no-repeat center;
    background-size: 37px;
}

.text_result {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: auto;
    width: 170px;
}

.name_res {
    width: 118px;
    height: 36px;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
}

.percent {
    width: max-content;
    height: 40px;
    font-weight: 700;
    font-size: 70px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    animation: bounce 1s alternate ease-in-out;
}

.percents {
    margin-left: 20px;
}

.recommendation {
    height: 23px;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    margin-top: 35px;
}

.result .button {
    margin-top: 20px;
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    10% {
        /*opacity: 0.4;*/
        /*transform: translateY(10%);*/
    }
    50% {
        opacity: 0.4;
        transform: translateY(-25px);
    }
    75% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width:701px) {

  .percent {
    color: green;
  }
}

@media screen and (max-width:700px) {

  .percent {
    color: green;
    /*display: block; !* needed to trigger update *!*/
  }
}

@media (min-width: 768px) {
    .content {
        width: 700px;
        margin: auto;
    }
}

@media (min-width: 1024px) {
    .content {
        width: 1000px;
        margin: auto;
    }
}