
.head-editor {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 0;
}

.header_padding {
    margin-top: 80px;
}

.head-editor .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.head-editor .burger-menu {
    width: 40px;
    height: 40px;
    background: url('../users/burger.png') no-repeat left;
    background-size: 41px;
    margin-left: 15px;
    margin-top: 5px;
}

.head-editor .current_user-bar {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.head-editor .current_user-bar .username {
    display: none;
    margin: 25px 0 0;
    font-size: 23px;
    font-weight: bold;
}

.head-editor .current-user_avatar {
    width: 54px;
    background: var(--avatar-url) no-repeat center;
    background-size: 46px;
    border-radius: 5px;
    padding-right: 15px;
    height: 100%;
}

.head-editor .pages {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-right: 150px;
    gap: 30px;
    padding-left: 15px;
}

.head-editor .menu-button {
    display: none;
}

.head-editor .our_icon {
    display: none;
    width: 197px;
    height: 100%;
    background: url("header_logo.png") no-repeat center 10px;
    background-size: 168px;
}


[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: max-content;
    left: 0; right: 0; top: 50px;
    text-align: center;
    background: white;
    color: black;
    padding: 0.3em 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 0.2s;
    border-radius: 5px;
    font-family: 'ProximaNova', sans-serif;
}

/*окно при наведении*/
.dropdown-user {
    position: relative;
    display: flex;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    /*margin: 69px 0 0 -168px;*/
    border-radius: 5px;
    top: 55px;
    right: 15px;
}

.dropdown-content_0 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 176px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    /*margin: 1px 0 0 7px;*/
    border-radius: 5px;
    top: 55px;
    left: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content_0 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.dropdown-content_0 a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.dropdown-user:hover .dropdown-content {
    display: block;
    border-radius: 5px;
}

.dropdown-menu:hover .dropdown-content_0 {
    display: block;
    border-radius: 5px;
}

/*окно закончилось*/
[data-tooltip]:hover::after {
    opacity: 1;
    top: 80px;
}

.first_name_lastName {
    width: 191px;
    height: 21px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

@media(min-width: 768px) {

    .head-editor {
        height: 73px;
        justify-content: space-around;
    }

    .head-editor .content {
        width: 700px;
    }

    .head-editor .our_icon {
        display: block;
    }

    .head-editor .burger-menu {
        display: none;
    }

    .header_padding {
        margin-top: 100px;
    }

    .head-editor .menu-button {
        display: block;
    }

    .head-editor .create_test {
        width: 45px;
        height: 100%;
        background: url("create_project_icon.png") no-repeat center 10px;
        background-size: 45px;
        background-position-y: center;
        display: block;
    }

    .head-editor .stats {
        width: 45px;
        height: 100%;
        background: url('stats_icon.png') no-repeat center 10px;
        background-size: 50px;
        background-position-y: 10px;
        display: block;
    }

    .head-editor .templates_icon {
        width: 50px;
        height: 100%;
        background: url('templates_icon.png') no-repeat center 10px;
        background-size: 41px;
        background-position-y: 13.8px;
        display: block;
    }
}


@media(min-width: 1024px) {

    .head-editor .content {
        width: 900px;
    }

    .dropdown-user {
        width: 227px;
        justify-content: flex-end;
    }

    .dropdown-content .first_name_lastName {
        display: none;
    }

    .head-editor .pages {
        padding-right: 180px;
    }

    .head-editor .current_user-bar .username {
        display: block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 220px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
        margin: 15px 0 0 0;
        border-radius: 5px;
    }
}

.hidden {
    display: none;
}
