
@media(min-width: 700px) {

    .head {
        height: 72px;
        background-color: #C9C9C9;
        padding-top: 10px;
    }

    .head .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 700px;
        margin: auto;
    }

    .head .logo {
        height: 60px;
        width: 180px;
        background-image: url("../logos/logo_short.png");
        background-size: cover;
    }

    .head .account {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .head .user-icon {
        height: 62px;
        width: 62px;
        background-image: url('../users/default_avatar.png');
        background-size: contain;
    }

    .head .username {
        font-size: 23px;
        font-weight: bold;
        margin: auto;
    }

    .content {
        width: 700px;
        margin: auto;
        margin-top: 20px;
    }
}

@media(min-width: 1024px) {

    .head .container {
        width: 900px;
    }

    .content {
        width: 900px;
    }
}









