{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'task/header.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">

    {% block css_styles %} {% endblock %}
</head>
<body>

    {% include 'task/header.html' %}

    {% block content %} {% endblock %}

    {% include '../../static/task/footer/footer.html' %}

    {% block js_scripts %} {% endblock %}
</body>
</html>