{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main_page/style.css' %}">
    <title>Пореформенная Россия </title>
</head>
<body>
<header class="head">
    <div class="blur"></div>
    <div class="content">
        <p class="title">Пореформенная Россия</p>
        <button class="headerBtn">
            <b class="descriptionHeaderBtn">
                Пройти тест
            </b>
        </button>
    </div>
</header>

<div class="Text-items">
    Темы, которые затрагивают тест
</div>
<div class="InlineCard1">
    <!--Первая карточка-->
    <div class="card1">
        <div class="descriptionCard1">
            Отмена крепостного права. Реформа 1861 года
        </div>
    </div>
    <!--Вторая карточка-->
    <div class="card2">
        <div class="descriptionCard2">
            Эпоха Великих реформ Александра Второго
        </div>
    </div>
</div>
<div class="InlineCard3-4">
        <!--Третья карточка-->
        <div class="card3">
            <div class="descriptionCard3">
            Социально-экономическое развитие пореформенной
            России в второй половине 19 века
        </div>
    </div>
    <!--Четвёртая карточка-->
    <div class="card4">
        <div class="descriptionCard4">
            Внутренняя политика Александра Третьего
        </div>
    </div>
</div>
<!--Пятая карточка-->
<div class="card5">
    <div class="descriptionCard5">
        Внешняя политика России во второй половине 19 века
    </div>
</div>
<!--Шестая карточка-->
<div class="card6">
    <div class="descriptionCard6">
        Общественно-политические движения в России во второй
        половине 19 века
    </div>
</div>

<footer class="foot">
    <div class="logo">
        <img src="{% static 'main_page/logo.png' %}" alt="">
    </div>
    <div class="descriptionFooter">
        Эта страница является внутренним
        ресурсом ИТ-колледжа ИТхаб-Екатеринбург
        и предназначена для использования
        ИСКЛЮЧИТЕЛЬНО студентами или
        преподавателями.
        Если Вы не являетесь сотрудником
        или учащимся ИТхаб-Екатеринбург,
        или если Вы не получили разрешение
        на доступ от администрации колледжа -
        просим немедленно покинуть этот сайт.
        Просим воздерживаться от
        неправомерного или неправомочного
        доступа.
    </div>
    <div class="yearRule">
        <b>2022 г. Все права защищены</b>
    </div>
</footer>
</body>
</html>