<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Пореформенная Россия </title>
</head>
<body>
<header class="head">
    <!--<div class="image">
        <img src="index.png">
    </div>-->
    <div class="blur"></div>
    <div class="content">
        <p class="title">Пореформенная Россия</p>
        <button class="headerBtn">
            <b class="descriptionHeaderBtn">
                Пройти тест
            </b>
        </button>
    </div>
</header>

<div class="Text-items">
    Темы, которые затрагивают тест
</div>
<div class="cards">
    <div class="card">
        <div class="descriptionCard">
            Отмена крепостного права.
            Реформа 1861 года
        </div>
    </div>
    <div class="gapCard"></div>
    <div class="card card768px1">
        <div class="descriptionCard">
            Эпоха Великих реформ
            Александра Второго
        </div>
    </div>
    <div class="gapCard"></div>
    <div class="card01">
        <div class="descriptionCard1">
            Социально-экономическое
            развитие пореформенной
            России в второй половине 19 века
        </div>
    </div>
    <div class="gapCard"></div>
    <div class="card card768px2">
        <div class="descriptionCard">
            Внутренняя политика
            Александра Третьего
        </div>
    </div>
    <div class="gapCard"></div>
    <div class="card card768px3">
        <div class="descriptionCard02">
            Внешняя политика России
            во второй половине 19 века
        </div>
    </div>
    <div class="gapCard"></div>
    <div class="card1">
        <div class="descriptionCard2">
            Общественно-политические
            движения в России во второй
            половине 19 века
        </div>
    </div>
</div>

<footer class="foot">
    <div class="logo">
        <img src="logo.png" alt="">
    </div>
    <div class="descriptionFooter">
        Эта страница является внутренним
        ресурсом ИТ-колледжа ИТхаб-Екатеринбург
        и предназначена для использования
        ИСКЛЮЧИТЕЛЬНО студентами или
        преподавателями.
        Если Вы не являетесь сотрудником
        или учащимся ИТхаб-Екатеринбург,
        или если Вы не получили разрешение
        на доступ от администрации колледжа -
        просим немедленно покинуть этот сайт.
        Просим воздерживаться от
        неправомерного или неправомочного
        доступа.
    </div>
    <div class="yearRule">
        <b>2022 г. Все права защищены</b>
    </div>
</footer>
</body>
</html>